.wrapper
{
    padding: 10px 50px;
    width: 100%;
}

.form-box
{
    width: 70%;
    margin:auto;
    background-color: white;
    border-bottom: 5px;
    box-shadow: 5px 5px 10px;
    margin-top: 100px;
}

form
{
    padding: 10px;
}

mat-form-field
{
    width: 100%;
}

@media (max-width:700px)
{
    .form-box
    {
        width: 100%;
        margin-top: 5px;
    }
    .wrapper
    {
        padding: 10px;
    }
    h3
    {
        font-size: 18px !important;
    }
    
    
}

