<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                <h2 style="padding: 10px;">{{batch.courseName | uppercase}}</h2>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-danger" (click)="deleteBatch(batch._id)">Delete</button>
                <button class="btn btn-primary" style="margin-left:10px" (click)="update(batch._id)">Edit</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <p>Description: {{batch.discription}}</p>
                <p>Starting Date :{{batch.startingDate}}</p>
                <p>Duration : {{batch.duration}}</p>
            </div>
            <div class="col-sm-6">
                <p>Time : {{batch.time}}</p>
                <p>Instructor : {{batch.instructor}}</p>
                <p>Location : {{batch.location}}</p>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <h2 style="color: royalblue; text-align: center; padding: 5px;">Student list of this batch</h2>

    <input class="search-box" type="text" placeholder="search student by name" [(ngModel)]="searchItem">

    <div class="container-fluid">
        <table >
            <tr class="table-heading">
                <th></th>
                <th>Name</th>
                <th>Phone</th>
                <th>View</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="let student of student | studentFilter:searchItem; let i = index">
                
                <td><img class="student-image" [src]="student.imagePath" alt=""></td>
                <td>{{student.name}}</td>
                <td>{{student.phone}}</td>
                <td><button class="btn btn-primary" (click)="viewMore(student.phone)">view</button></td>
                <td><button class="btn btn-danger" (click)="delete(student._id)">delete</button></td>
            </tr>
        </table>
    </div>
</div>