<div class="wrapper">
    <div class="form-box">
        <h4 class="form-heading">Pay Salary</h4>
        <form [formGroup]="faculty">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Detail</mat-label>
                <input matInput type="text" formControlName="detail" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput type="text" formControlName="phone" required>
            </mat-form-field>

             <mat-form-field>
                <mat-label>Amount</mat-label>
                <input matInput type="number" formControlName="amount" required>
            </mat-form-field>

            <button type="submit" [disabled]="!faculty.valid" mat-raised-button color="primary" (click)="pay()">submit fee</button>
        </form>
    </div>
</div>